<!-- Start: Workshop2 -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <h1>Home Page</h1>
    <button>
        <a href="/result">Go to Result Page</a>
    </button>
    
</body>
</html> -->

<!-- End: Workshop2 -->



<!-- Start: Workshop3 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube API Search</title>
</head>
<body>
    <h1>YouTube API Search</h1>
    <form action="/search" method="get">
        <label for="query">Enter search query:</label>
        <input type="text" id="query" name="query" required>
        <button type="submit">Search</button>
    </form>
</body>
</html>

<!-- End: Workshop3 -->